<div class="common">
  <div class="section">
    <div class="__header">
      <img style="width: 25px" src="assets/icons/tournaments.png" alt="" />
      <span>Torneios</span>
    </div>
    <div class="__content-tournments">
      <div class="__card">
        <img src="assets/tournaments/paulista.png" alt="" />
      </div>
      <div class="__card">
        <img src="assets/tournaments/brasileirao-a.png" alt="" />
      </div>
      <div class="__card">
        <img src="assets/tournaments/brasileirao-b.png" alt="" />
      </div>
      <div class="__card">
        <img src="assets/tournaments/carioca.png" alt="" />
      </div>
    </div>
  </div>
  <div class="section">
    <div class="__header">
      <img style="width: 25px" src="assets/icons/matches.png" alt="" />
      <span>Partidas</span>
    </div>
    <div class="__content-games">
      <div class="__carousel">
        <div class="__container-box">
          <div class="__inline-box">
            <div class="__team">
              <img src="assets/teams/atletico-mineiro.png" alt="" />
              <span style="margin-left: 5px">Atlético Mineiro</span>
            </div>
            <strong>VS</strong>
            <div class="__team">
              <img src="assets/teams/sao-paulo.png" alt="" />
              <span style="margin-left: 5px">São Paulo</span>
            </div>
          </div>
          <div class="__inline-box">
            <div class="__team">
              <img src="assets/teams/vasco.png" alt="" />
              <span style="margin-left: 5px">Vasco da Gama</span>
            </div>
            <strong>VS</strong>
            <div class="__team">
              <img src="assets/teams/flamengo.png" alt="" />
              <span style="margin-left: 5px">Flamengo</span>
            </div>
          </div>
        </div>
        <div class="__container-box">
          <div class="__inline-box">
            <div class="__team">
              <img src="assets/teams/atletico-mineiro.png" alt="" />
              <span style="margin-left: 5px">Atlético Mineiro</span>
            </div>
            <strong>VS</strong>
            <div class="__team">
              <img src="assets/teams/sao-paulo.png" alt="" />
              <span style="margin-left: 5px">São Paulo</span>
            </div>
          </div>
          <div class="__inline-box">
            <div class="__team">
              <img src="assets/teams/vasco.png" alt="" />
              <span style="margin-left: 5px">Vasco da Gama</span>
            </div>
            <strong>VS</strong>
            <div class="__team">
              <img src="assets/teams/flamengo.png" alt="" />
              <span style="margin-left: 5px">Flamengo</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="__header" style="background-color: #3b69a3">
        <img style="width: 25px" src="assets/icons/earth.png" alt="" />
        <span>Países</span>
      </div>
      <div style="width: 100%; overflow-x: scroll;">
          <div class="__content-tournments" style="padding: 10px">
            <div class="__card" style="flex-direction: column; margin: 0 2px; width: 100%;">
              <img src="assets/countries/sweden.png" alt="" />
              <span style="margin-top: 5px; font-family: 'Roboto Bold', sans-serif;">Suíço</span>
              
            </div>
            <div class="__card" style="flex-direction: column; margin: 0 2px; width: 100%;">
              <img src="assets/countries/brazil.png" alt="" />
              <span style="margin-top: 5px; font-family: 'Roboto Bold', sans-serif;">Brasil</span>
            </div>
            <div class="__card" style="flex-direction: column; margin: 0 2px; width: 100%;">
              <img src="assets/countries/spain.png" alt="" />
              <span style="margin-top: 5px; font-family: 'Roboto Bold', sans-serif;">Espanha</span>
            </div>
            <div class="__card" style="flex-direction: column; margin: 0 2px; width: 100%;">
              <img src="assets/countries/england.png" alt="" />
              <span style="margin-top: 5px; font-family: 'Roboto Bold', sans-serif;">Inglaterra</span>
            </div>
            <div class="__card" style="flex-direction: column; margin: 0 2px; width: 100%;">
              <img src="assets/countries/germany.png" alt="" />
              <span style="margin-top: 5px; font-family: 'Roboto Bold', sans-serif;">Alemão</span>
            </div>
            <div class="__card" style="flex-direction: column; margin: 0 2px; width: 100%;">
              <img src="assets/countries/russia.png" alt="" />
              <span style="margin-top: 5px; font-family: 'Roboto Bold', sans-serif;">França</span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
