<div class="nav">
  <div class="__global">
    <div class="__header">
      <img src="assets/icons/hamburguer.png" (click)="toggleMenu()" />
      <span>{{userEmail}}</span>
    </div>
    <div class="__bet-text">APOSTAR</div>

    <div>
      <ul>
        <ng-container *ngFor="let item of menuList">
          <li (click)="clickOption(item)">
            <img [src]="item?.icon" alt="" />
            <span *ngIf="item?.option !== 'Sair'; else sair">{{ item?.option }}</span>
            <ng-template #sair>
              <span>{{ !isLoggedIn ? 'Entrar' : item?.option }}</span>
            </ng-template>
          </li>
          <hr *ngIf="item?.hasHrLine" />
        </ng-container>
      </ul>
    </div>
  </div>
</div>