._global {
  width: 100%;
  background-color: #f5f6f6;
  // height: calc(100vh - 20px);

  .__columns {
    display: flex;
    flex-direction: column;

    .section {
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-form-field {
        width: 75vw;
      }
    }

    .__btn-submit {
      width: 75vw;
      background: #00a826;
      border: none;
      border-radius: 2px;
      color: #fff;
      padding: 12px 10px;
      font-family: "Roboto Bold";
    }
  }
}
