<div class="_global">

    <div class="__header">
        <div class="section-title">

            <img src="assets/background/background.png" alt="">
            <div class="__card-title">
                <p>Futebol > Brazil</p>
                <h2>
                    {{ tournamentName }}
                </h2>
            </div>
        </div>
    </div>

    <div>
        <div class="__content-games">
            <div class="__carousel">

                <div class="__container-box">
                    <ng-container *ngFor="let item of data">
                        <div class="__inline-box">
                            <div class="__team">
                                <img src="assets/teams/{{item.homeTeam.icon}}" alt="" />
                                <span style="margin-left: 5px">{{ item.homeTeam.name }}</span>
                            </div>
                            <strong>VS</strong>
                            <div class="__team">
                                <img src="assets/teams/{{item.awayTeam.icon}}" alt="" />
                                <span style="margin-left: 5px">{{ item.awayTeam.name }}</span>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>

    <div class="section-bets">
        <div class="__card">
            <div class="__header">
                <span>Alt Mineiro <span style="color: #e8ae1c">VS</span> São Paulo</span>
                <span>10/11/2019 19:00</span>
            </div>

            <div class="__content">
                <div class="__bets">
                    <div class="__bets-options">
                        <strong>C</strong>
                        <span>2.00</span>
                    </div>
                    <div class="__bets-options">
                        <strong>X</strong>
                        <span>2.00</span>
                    </div>
                    <div class="__bets-options">
                        <strong>F</strong>
                        <span>2.00</span>
                    </div>
                </div>
                <div class="__bets">
                    <div class="__bets-options">
                        <strong>C/X</strong>
                        <span>2.00</span>
                    </div>
                    <div class="__bets-options">
                        <strong>C/F</strong>
                        <span>2.00</span>
                    </div>
                    <div class="__bets-options">
                        <strong>F/X</strong>
                        <span>2.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>