<div style="width: 100%; height: 100vh;">
    <div class="__content-games">
        <div class="__carousel">
          <div class="__container-box">
            <div class="__inline-box">
              <div class="__team">
                <img src="assets/teams/atletico-mineiro.png" alt="" />
                <span style="margin-left: 5px">Atlético Mineiro</span>
              </div>
              <strong>VS</strong>
              <div class="__team">
                <img src="assets/teams/sao-paulo.png" alt="" />
                <span style="margin-left: 5px">São Paulo</span>
              </div>
            </div>
            <div class="__inline-box">
              <div class="__team">
                <img src="assets/teams/vasco.png" alt="" />
                <span style="margin-left: 5px">Vasco da Gama</span>
              </div>
              <strong>VS</strong>
              <div class="__team">
                <img src="assets/teams/flamengo.png" alt="" />
                <span style="margin-left: 5px">Flamengo</span>
              </div>
            </div>
          </div>
          <div class="__container-box">
            <div class="__inline-box">
              <div class="__team">
                <img src="assets/teams/gremio.png" alt="" />
                <span style="margin-left: 5px">Grêmio FC</span>
              </div>
              <strong>VS</strong>
              <div class="__team">
                <img src="assets/teams/avai.png" alt="" />
                <span style="margin-left: 5px">Avai</span>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>